<style>
        .course-container {
            max-width: 100%;
            margin: 0;
            padding: 0% 0.5% 1% 1%;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 2px;
            text-align: center;
        }
        .course-container h1,
        .course-container h2 {
                font-family: 'Sarabun', sans-serif;
                margin: 10px 0;
                color: #222;
        }

        .course-container h1 {
                font-size: clamp(24px, 5vw, 40x); /* ขนาดยืดหยุ่น */
                font-weight: bold;
        }

        .course-container h2 {
                font-size: clamp(18px, 4vw, 32px);
                font-weight: normal;
                color: #444;
        }
     
        img {
          
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>

<body >

    <div class="course-container">
    <h1>ยินดีต้อนรับสู่เว็บไซต์เพื่อการเรียนรู้</h3>
    <h2>การสร้างสื่อนำเสนอด้วยคอมพิวเตอร์กราฟิก</h5>

    
        <img src="{{ url_for('static', filename='images/intro.gif') }}"  style="width:95%; height:auto;"  alt="5 Steps Process">
    
    </div>
</body>

