
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
            width: 100%;
            margin: auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            text-align: center;
        }
        .profile-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin: 20px auto;
        }
        h1 {
            font-size: 24px;
            margin: 10px 0;
            color: #444;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            text-align: left;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        th {
            width: 30%;
            color: #333;
            font-weight: bold;
        }
        @media (max-width: 600px) {
        body  {
                width: 100%;
                height: auto;
    
             }
         }

    </style>


<body>
<div class="container">
    <!-- รูปภาพอยู่กึ่งกลาง -->
    <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="รูปภาพผู้วิจัย" class="profile-image">

    <!-- ชื่อและประวัติส่วนตัว -->
    <h1>นางสาวน้ำค้าง  อุ่นแก้ว</h1>
    <p>ครู วิทยฐานะ ครูชำนาญการพิเศษ</p>

    <!-- ตารางข้อมูลประวัติ -->
    <table>
        <tr>
            <th>ประวัติส่วนตัว</th>
            <td>
                - เกิด วันที่ 13 กรกฎาคม 2528<br>
                - อายุ 39 ปี<br>
            </td>
        </tr>

        <tr>
            <th>ประวัติการศึกษา</th>
            <td>
                - ปริญญาตรี คณะวิทยาศาสตร์ สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยอุบลราชธานี<br>
                - ปริญญาโท คณะศึกษาศาสตร์ สาขาการบริหารการศึกษา มหาวิทยาลัยกรุงเทพธนบุรี<br>
            </td>
        </tr>
        <tr>
            <th>ที่อยู่</th>
            <td>75 หมู่ 4 ตำบลสิ อำเภอขุนหาญ จังหวัดศรีสะเกษ</td>
        </tr>
        <tr>
            <th>เบอร์โทรศัพท์</th>
            <td>086 383 9197</td>
        </tr>
        <tr>
            <th>อีเมล</th>
            <td>namkang.mbw@gmail.com</td>
        </tr>

        <tr>
            <th>สถานที่ทำงาน</th>
            <td>โรงเรียนมัธยมบักดองวิทยา <br>
                สำนักงานเขตพื้นที่การศึกษามัธยมศึกษาศรีสะเกษ ยโสธร</td>
        </tr>

        <tr>
            <th>ผลงาน</th>
            <td>
                - ผู้ฝึกซ้อมนักเรียนเหรียญทอง ระดับประเทศ การแข่งขันการสร้างเกมสร้างสรรค์จากคอมพิวเตอร์ ระดับมัธยมศึกษาตอนต้น ปีการศึกษา 2566<br>
                - ผู้ฝึกซ้อมนักเรียนชนะเลิศเหรียญทอง ระดับเขตพื้นที่การศึกษา การแข่งขันการสร้างเกมสร้างสรรค์จากคอมพิวเตอร์ ระดับมัธยมศึกษาตอนต้น ปีการศึกษา 2567<br>
                - อาจารย์ที่ปรึกษาโครงการที่ได้รับทุนสนับสนุน โครงการโลกแห่งตารางธาตุของเมนเดเลเยฟ โปรแกรมเพื่อส่งเสริมทักษะการเรียนรู้ ระดับนักเรียน โครงการแข่งขันพัฒนาโปรแกรมคอมพิวเตอร์แห่งประเทศไทย ครั้งที่ 26<br>
            </td>
        </tr>
    </table>
</div>

</body>
